body, html {
  height: 100%;
  margin: 0;
}

.shape-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.black-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.white-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
}
