@font-face {
    font-family: 'Ubuntu';
    src: url(../../resources/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --primary: #000000;
  --secondar: #777777;
  --tertiary: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--primary);
    color: var(--tertiary);
}
/* ******************************/
/***********REUSABLE***********/
/*******************************/

a{
  text-decoration: none;
  color: var(--tertiary);
}

ul {
  list-style: none;
}
/*******************************/


.section-1{
  position: relative;
  height: 100vh;
  width: 100%;
}

.space {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.waitlist {
  border: 2px solid var(--tertiary);
  padding: 10px;
  border-radius: 20px;
}

.section-space {
  
  color: yellow; 
}

