@font-face {
    font-family: 'Ubuntu';
    src: url(../../resources/fonts/Ubuntu-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
